/**
 * Banners
 */

.banner{
    border: 1px solid #e2e2e2;
    text-align: center;
}

.banner-ruler{
    background: #fff;
    margin-bottom: 30px;
}

.banner-sidebar{
    margin-top: 30px;
}

.small-banners {
  padding-bottom: 60px;
  img {
    max-width: 100%;
  }
}

.banner-js {
    margin: 0;
    padding-bottom: 0;

    .box_skitter_large{
    	left: 50% !important;
    	-webkit-transform: translateX(-50%);
    	   -moz-transform: translateX(-50%);
    	    -ms-transform: translateX(-50%);
    	     -o-transform: translateX(-50%);
        		transform: translateX(-50%);
    }

    .box_skitter .info_slide_dots{
    	bottom: 0;
    	padding: 20px;
    }

}

.banner-home{
    margin-bottom: 30px;
    position: relative;
    z-index: 10;

    .prev_button,
    .next_button {
        display: none!important;
    }

    .info_slide {
        top: 85%;
        width: 98%;
        text-align: center;
        background: none;

        .image_number {
            float: none!important;
            font-size: 0;
            width: 15px;
            height: 15px;
            display: inline-block;
            border-radius: 0;
        }
    }

    .slick-dots{
        text-align: center;
        position: absolute;
        bottom: 20px;
        width: 100%;

        li{ display: inline-block; }

        button{
            font-size: 0;
            padding: 10px 20px;
            margin: 0 5px;
            background-color: #333;
            border: none;
            opacity: 0.5;
        }

        .slick-active{
            button{
                background-color: #000;
            }
        }
    }

    .slick-slide{
        img{ margin: 0 auto; }
    }
}

.banner-bottom{ margin-top: 15px; }

.mobile-off{
    @media screen and (max-width: $sm){ display: none; }
}
