// breadcrumb
.breadcrumb-text,
.breadcrumb-text + .icon-breadcrumb{
    display: none;
}

.breadcrumb{
    margin: 20px 0 40px;
    padding: 0 15px;
    background-color: #FFFFFF;

    
    a, 
    .icon-breadcrumb{
        color: #000000;
        font-size:12px;
        font-weight: normal;
    }
}

.breadcrumb-item{
    font-size:12px;
    font-weight: normal;
    &:last-child{
        
        a{
            color: #ab1f24!important;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.icon-breadcrumb{
    
    &:before{
        color: #ab1f24;
        content: ' > ';
        padding: 0 3px;
    }
}