<div class="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    {% if product.available %}
        
        {% if product.stock > 0 or settings.without_stock_sale %} 
        
            {% if product.upon_request %}
                <p>Produto Sob Consulta</p>
            {% else %}
            
                {% if product.has_variation %}
                    <span class="price-various">{{ Translation('a_partir_de') }}</span> 
                {% endif %} 
                
                {% if settings.price_before_style == 'strike' or settings.price_before_style == 'strike-depor' %}
                    {% set priceStyle = 'strike' %}

                {% endif %}
                
                {% if settings.price_before_style == 'depor' or settings.price_before_style == 'strike-depor' %}
                    {% set priceOld = 'De: ' %}
                {% endif %}
                    
                {% if product.price_offer > 0 and product.show_price %}
                    <div class="price-before {{ priceStyle }}" content="{{ product.price }}">
                        <div itemprop="priceCurrency" content="BRL">
                            {{ priceOld }} <abbr class="currency" title="BRL">{{ settings.currency }}</abbr> {{ product.price|currency }}
                        </div>
                    </div>
                    <div class="price-promotion">
                        <div itemprop="offers" class="price-off" itemscope itemtype="http://schema.org/Offer" content="{{ product.price }}">
                            {% if product.has_other_prices %}
                                {{ Translation('apartir') }} R$ {{ product.price_offer|currency  }}
                            {% else %}
                                {{ priceOld ? 'Por: ' }} R$ {{ product.price_offer|currency  }}
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <span itemprop="priceCurrency" content="BRL"  content="{{ product.price }}">
                        {% if product.has_other_prices %}
                            {{ Translation('apartir') }} R$ {{ product.price|currency  }}
                        {% else %}
                            {{ priceOld ? 'Por: ' }} R$ {{ product.price|currency  }}
                        {% endif %}
                    </span>
                {% endif %}
            {% endif %}
            
        {% else %} 
            <p>Esgotado!</p>
        {% endif %} 
        
    {% else %} 
        <p>Indispon&iacute;vel</p> 
        
    {% endif %} 
    
</div>
