/*
Error: Undefined variable: "$font".
        on line 71 of css/sass/page-visitados.scss

66:             .bts2 {
67:                 background: #fff;
68:                 border-radius: 20px;
69:                 border: 1px solid #3d4445;
70:                 color: #3d4445;
71:                 font: 400 11px/20px $font;
72:                 height: 20px;
73:                 padding: 0;
74:                 position: absolute;
75:                 right: 10px;
76:                 text-align: center;

Backtrace:
css/sass/page-visitados.scss:71
/usr/local/bundle/gems/sass-3.5.1/lib/sass/script/tree/variable.rb:49:in `_perform'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/script/tree/node.rb:50:in `perform'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/script/tree/list_literal.rb:75:in `block in _perform'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/script/tree/list_literal.rb:75:in `map'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/script/tree/list_literal.rb:75:in `_perform'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/script/tree/node.rb:50:in `perform'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:402:in `visit_prop'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/stack.rb:135:in `with_frame'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/stack.rb:79:in `with_base'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `visit'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:444:in `map'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/stack.rb:135:in `with_frame'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/stack.rb:79:in `with_base'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `visit'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:444:in `map'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/stack.rb:135:in `with_frame'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/stack.rb:79:in `with_base'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `visit'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:444:in `map'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/stack.rb:135:in `with_frame'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/stack.rb:79:in `with_base'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `visit'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:444:in `map'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/stack.rb:135:in `with_frame'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/stack.rb:79:in `with_base'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `visit'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:161:in `visit'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:10:in `visit'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:294:in `watch'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/plugin.rb:109:in `method_missing'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/exec/base.rb:52:in `parse'
/usr/local/bundle/gems/sass-3.5.1/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/bundle/gems/sass-3.5.1/bin/sass:13:in `<top (required)>'
/usr/local/bundle/bin/sass:23:in `load'
/usr/local/bundle/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$font\".\A         on line 71 of css/sass/page-visitados.scss\A \A 66:             .bts2 {\A 67:                 background: #fff;\A 68:                 border-radius: 20px;\A 69:                 border: 1px solid #3d4445;\A 70:                 color: #3d4445;\A 71:                 font: 400 11px/20px $font;\A 72:                 height: 20px;\A 73:                 padding: 0;\A 74:                 position: absolute;\A 75:                 right: 10px;\A 76:                 text-align: center;"; }
